<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="width:100%; height: 65px;">
    <header>
        <nav class="navbar">
          <div class="navbar-brand ex-nav-brand" href="#">
            <img class="navbar-brand-icon" src="./../assets/icon/brand-logo.png" alt="" width="150px">
            
          </div>
          <div class="header-right">
              <ul class="nav">
                  <li class="nav-divider"></li>
                  <li > <img class="header-right-bell" src="./../assets/icon/bell-icon.png" width="25px"></li>
                  <li class="nav-divider"></li>
                  <li class="admin-name">Abbas haider</li>
              </ul>
          </div>
        </nav>
      </header>
</div>
 <div style="width:100%">
  <div style="float:left;width:12.9%;">
      <app-sidemenu></app-sidemenu>
  </div>
  <div style="width:87.1%;margin-left:12.9%">
   <router-outlet></router-outlet>
  </div>
</div> -->

<router-outlet></router-outlet>

